body {
  margin: 0;
  font-family: Arial, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh; /* Asegura que el cuerpo ocupe toda la altura de la pantalla */
  background-color: #f0f0f0; /* Color de fondo opcional */
}

.App {
  text-align: center;
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra opcional */
}

h1 {
  margin-bottom: 20px;
}

input[type="color"] {
  margin-top: 20px;
  padding: 10px;
  border: 2px solid #ccc;
  border-radius: 5px;
  cursor: pointer;
}

p {
  margin-top: 20px;
  font-size: 1.2em;
}